html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

/* Header */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#111;
position:sticky;
top:0;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

nav a:hover{
color:#00e5ff;
}

/* Hero */

.hero{
text-align:center;
padding:120px 20px;
}

.hero h2{
font-size:42px;
}

button{
background:#00e5ff;
border:none;
padding:12px 25px;
border-radius:6px;
cursor:pointer;
}

button:hover{
transform:scale(1.05);
}

.secondary{
margin-left:15px;
border:1px solid white;
padding:12px 20px;
border-radius:6px;
text-decoration:none;
color:white;
}

/* Sections */

section{
max-width:1000px;
margin:auto;
padding:60px 20px;
}

/* Skills */

.skills{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.skill{
background:#111;
padding:10px 20px;
border-radius:20px;
}

/* Projects */

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.project{
background:#1c1c1c;
padding:25px;
border-radius:12px;
}

.project a{
display:inline-block;
margin-top:10px;
color:#00e5ff;
text-decoration:none;
}

/* Contact */

input,textarea{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:6px;
}

textarea{
height:100px;
}

/* Footer */

footer{
text-align:center;
padding:20px;
background:#111;
}